G2Fit - 3. Enviar Email Dieta.json
{
  "name": "G2Fit - 3. Enviar Email Dieta",
  "nodes": [
    {
      "parameters": {
        "path": "g2fit-send",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "508a8ec7-81fe-48c4-83a9-125e362c70ce",
      "name": "Webhook - Recibir Solicitud1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        5952,
        8944
      ],
      "webhookId": "g2fit-send-email"
    },
    {
      "parameters": {
        "jsCode": "const headers = $('Webhook - Recibir Solicitud1').first().json.headers || {};\nconst token = headers['x-g2fit-token'] || headers['X-G2Fit-Token'] || '';\nconst EXPECTED = 'G2FIT-SEND-a7f3c92d4e8b1';\nif (token !== EXPECTED) {\n  throw new Error('Unauthorized: token de acceso inválido o ausente. Añade la cabecera X-G2Fit-Token.');\n}\nreturn $input.all();"
      },
      "id": "3b90b0d5-7a1b-4fe3-bf6e-84c01a95378b",
      "name": "Code - Validar Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6128,
        8944
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\":true,\"mensaje\":\"Solicitud recibida. El email se enviara en segundos.\"}",
        "options": {}
      },
      "id": "19443b88-5a72-4dc1-89be-fa568e79caba",
      "name": "Respond - OK Inmediato1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        6288,
        8816
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "dietas_generadas",
        "limit": 1,
        "filterType": "string",
        "filterString": "=id=eq.{{ $('Webhook - Recibir Solicitud1').first().json.query.dieta_id }}"
      },
      "id": "5b94c36f-5282-4334-bb3f-f791efc8abce",
      "name": "Supabase - Leer Dieta1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6288,
        9056
      ],
      "credentials": {
        "supabaseApi": {
          "id": "nEeesz8yShWcFoTO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "diet-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cf28a40d-5215-47fa-a71d-91dfc84c2a5a",
      "name": "IF - Dieta Existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6448,
        9056
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-ya-enviada",
              "leftValue": "={{ $json.estado }}",
              "rightValue": "enviada",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1ed1e480-7e33-4910-a4ff-7015348199c1",
      "name": "IF - Ya Enviada",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6624,
        8896
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clientes",
        "limit": 1,
        "filterType": "string",
        "filterString": "=id=eq.{{ $('Supabase - Leer Dieta1').first().json.cliente_id }}"
      },
      "id": "2c29b772-0496-41fb-9a32-d209abfb7cb2",
      "name": "Supabase - Leer Cliente1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6784,
        8992
      ],
      "credentials": {
        "supabaseApi": {
          "id": "nEeesz8yShWcFoTO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===== G2FIT — PDF Visual Profesional =====\nconst dieta   = $('Supabase - Leer Dieta1').first().json;\nconst cliente = $('Supabase - Leer Cliente1').first().json;\n\nconst plan = typeof dieta.plan_completo === 'string'\n  ? JSON.parse(dieta.plan_completo)\n  : (dieta.plan_completo || {});\n\nconst semana  = (plan.semanas && plan.semanas[0]) || {};\nconst dias    = semana.dias || plan.plan_semanal || plan.dias || [];\nconst resumen = plan.resumen_plan || {};\n\nconst N = s => (s||'').toString()\n  .replace(/[\\xE1\\xE0\\xE2\\xE3]/g,'a').replace(/[\\xE9\\xE8\\xEA]/g,'e').replace(/[\\xED\\xEC\\xEE]/g,'i')\n  .replace(/[\\xF3\\xF2\\xF4]/g,'o').replace(/[\\xFA\\xF9\\xFB]/g,'u').replace(/\\xF1/g,'n')\n  .replace(/[\\xC1\\xC0\\xC2\\xC3]/g,'A').replace(/[\\xC9\\xC8\\xCA]/g,'E').replace(/[\\xCD\\xCC\\xCE]/g,'I')\n  .replace(/[\\xD3\\xD2\\xD4]/g,'O').replace(/[\\xDA\\xD9\\xDB]/g,'U').replace(/\\xD1/g,'N')\n  .replace(/\\xFC/g,'u').replace(/\\xDC/g,'U').replace(/[^\\x20-\\x7E]/g,'?');\n\nconst E = s => N(s).replace(/\\\\/g,'\\\\\\\\').replace(/\\(/g,'\\\\(').replace(/\\)/g,'\\\\)');\n\n// Wrap text to lines of maxChars characters\nconst wrapText = (text, maxChars) => {\n  if (!text) return [''];\n  const words = text.split(' ');\n  const lines = [];\n  let line = '';\n  for (const w of words) {\n    if (line.length + w.length + 1 > maxChars && line) {\n      lines.push(line.trim());\n      line = w + ' ';\n    } else {\n      line += w + ' ';\n    }\n  }\n  if (line.trim()) lines.push(line.trim());\n  return lines.length ? lines : [''];\n};\n\nconst LOGO_B64 = 'eNrtXXdcFGfefwURQaMmmqghOTRePH2jxHaaBI1RE6N5E8+c58WLIfYSgyUajZpEMbFjr6AgNmwIqFgQbCCINFEXpEjfnd3pM7uzbcrz7PuZfXSPw4ZibMfvs3/A7s7s7Dzf/f2+v/o4HE9boAMq8NYDQAd01Ml/uygQmhRYIcGrNnDJrCSblWRBSTWDHKtSIUITcCh1KPnvEwlCXAaZVnDECMN4uIFzrOEcwZxjJQuXM8oKVtrASZG8mGxWtBK0gbob9l8h0AGNCrxkBZE83MzCtSxcxcKVrGM561jKwCU0WEzLixh5ISstoOy/UbY1jD1OUHDJUQeQF96IVErglAmGcnADB9eyjtWsI5h1rGAdy1i4lIGLaWURLQUx0gJG/IWyz6escynLz4w5hBNzbFCsMzEvqAAHqLCDQ0a4hQXrGbiOgWtYiIDhUhq/01KQ8/Erbf+Fts4nrXNoYQ5pmk0LixlrkrnOvryQpgRUiOAwD7cyjg0sXK9aE+C0JnC587GMASsYeSkj/UbLv9LSz7RtPm2dS1vm0KbZlHEWxc0kjYsoa5JQpz1eNGiYFHjcBLdyjo2sYz3rWMvC1SwI5pRgFmzglD2sfMoop5rlZLMYw4shnG0pZZvHWOawwhzC+CPFz6T4GSQ3neIWU3aNrY57vDjAkCDIsMJwDm5i4QYWrmMda1i4mgObWCXeBErswKRA2RnWAA4oAsAp8g2r7SBn/o0WZlP8LMo0gzBOI5lpODuV4jewCiHX3dUXhGjgkrKfg5s5uIGG6xmVgq5hlVBezrY47s0foAXY0y3CUpqfRRpnkPw0kvueoKeQ9A+U5awZ1oU+XgjfBGRZ4DbOsYl1bGDAWvWhbGHlLAuUHrC+UIZ2jdW0nOGmE2wgyXxPUN8R5GSCXkVLuFR3a597g2IGIM7o2MI6NrKq0ljDwrWMHC9AS41IgwqPixZuDsUEkvQUgppMkBNJYhZpTrHUhdafe4NSKcJdvFNpOCnoGgaEckArPsQZeMW4haUDCVoFBoFPIIiJJLuTVylKnTzPrqty1QJDORUYtygoqxzkofVhPA3gsFww0zMJahJBTCQM4wl8LEmvZhRBqbvBzzXZUC6a4WYGOv1Wx2pVbyhnzA+bRJPKJXYBjZSGfhyuH03iQZRM/iHeCoRQlmWj0ajT6W7evFlYWFhUVFRaWkpRlNVqBeCZ858hhGazuaysLCsr6+zZs6mpqXl5eQaDwWazQfgMq1YJgkTBcdtvdaxiwRpOvmx9WKqgUAq7hCXGE/g4wjCGxEaThrmkpJUf+x3Oz8+PjY1duHDhiBEj/P39O3fu/M4773Tq1KlHjx5ffPFFYGBgSEhISkqKXq+XpKdPhgEAOp0uMjJyzJgx3bp1a9OmjY+Pj6+vb6dOnT777LOFCxcmJSUxDPOMIkSE8LSgKo01TqURzIK1nJL+8NggFfZ31jCOMIwlsdEE9i1pmEtJuseGDbPZnJCQMHHixM6dOzdr1szT07N+/fpubm71boubm5u7u7uHh0ejRo18fX0//fTTjRs3FhcXK4ryFIFx5syZjz/+uGnTpuhqq4q7u7u3t3fHjh1nzJih0Wie4nXeU2SonLPcwoYaIWdAMKOcNzvAw4HDftNOzaMM4wj9GFI3Gse+JQwLKZl6DNgQRTEtLS0wMLBdu3aenp4uPLi5udWvX9/Dw6OBU+rXr+/u7o5eRS+1bNly4MCBERERGIY92g9TlmWTyUQQBIZhJEkKgiDLcs2Bcf78+e7du3t4eLi7u3t5eb3++uvvvvuuv79/jx49fH19vby83J3SqlWrOXPm4Dj+7HkpDiXNAjdyt/OtDFzOKod5aH8Iqw0VaDpuIr4nDGMJbDSpG4VrvyWIYEax1Pa3YDQaQ0ND/fz8PDw8ECTc3d0bN27s4+PTo0ePYcOGjR8/ftq0aVOmTAkICBgwYED79u2bNWtWv35915tbtWo1fvz4Gzdu1JyHQAiNRuP58+cXL14cEBDw+eeff/rpp0OHDp0wYcKaNWtSU1N5nn8g2IqLi3v37o3URcuWLUeMGBETE1NQUIBhWHl5eWZm5urVq/39/Rs3bvz222+HhYVZrdb/0MOKUlJSotFocnNztVrt07GP0AEK7DCEg6tu5VvhMkYJYQDxEBcj6yVqKWUYT+jHELpRhC6A0I4hqL1cLX1YnU43b968li1buru716tXr379+q+++urHH3+8YsWKc+fO3bx5k+M4q9Vqt9ttNpvZbDYYDDk5OQcPHpw4cWL79u0bNmyIdEiTJk0+++yz+Pj4mvzqBUGIiYn5xz/+4evr6+3tjdSRu7s70lFNmzb93//93/Hjxx85coTn+fsojQ0bNnh5ebm5ubVo0WL27NmlpaXVwKkoSmlp6bp161asWEGSZLUzcBw3cuTIjh07du7c+aeffnpaWgXQMtjDqbn45c4ijSW0soKRk801XFlgA8ZYE/EdiZiG9lui8htcO5UQLtcq9kVR1HfffdesWTO0vt7e3r169Vq/fn1lZeUDTbPFYrl06dKIESOaN2+OrEzDhg379u2bnJx8/2NJkvz11199fX2RmkKsoL5TXAarXr16Xl5e77zzzvLlyysrK++qQFiWHTx4sJubW4MGDfr27ZuTk3NPnqYoFovlzpPQNN2nT5969eo1aNBg7NixOp3u6XhYElTOmGCwWuwHlzDKElr5nZU3MHKu9YGsA9qh6bSJmE2oTGM0qR2FVwYYKgNwYi2jcI9uUDiO++WXX15++WW0QK+99tqkSZOuXLlSc9UKISRJMiIion379sjEeHt7Dxo06Nq1a/cyBziOBwYGNm3aFH2ol5fXW2+9NWjQoLFjx06aNOnbb7/t27dv69atEWzc3d19fHymTp1aXl5+5wmvXbvWpk2bevXqNWvWbOrUqTRNP+wdqIYNDMOeGukosoMNHFymYgP+xshqZRdrD+Hkm/Z7plSAQ+EV81kz8RNhGI+rfusoQvetofIbXDeZNqdaH1lpyLIcGhraqlUrtEavvvrqDz/8YDAYHoFPiqK4f//+jh07op988+bNFyxYIAjCXbi03b5kyZKXX34Z8dhWrVp98803x48fNxgMyGxZrVa9Xh8XF/evf/0LqSM3NzcfH5+goCCCIKqd7cSJE6+88kq9evVef/314ODgalzi+cIGtCjyMZOqN35n5d8oOYiWFrLiAkpcxYgJZgWXoR1AEUArhAIArCKW263nzdw6hvyBwMcT+BhS7/RNKgLIyrEEFcIqpkcPQOXk5HTt2hXd/BYtWtTS2kqSFB0d7ePj06RJk/79+586dUoUxTuVzMWLF9u1a4eMyJ///OcNGzZQFHUnGhFNDQ0N/dOf/oTe/Je//GXnzp3VmMzevXsbN25cr169Nm3ahIWFPQKTdGHD09Nz3LhxTw4bqAxDBuqKm4FaOUzJSrIZBjPgd1oOYuSFjPQrI/5MW+fTloWUZR1r3s8JBznzbk7YwvOrGC6IZmaqaTV8Ao6PVSkoNorQBhCV3xrwRbStxP7ISkMQhJkzZ3p5eSGzPmzYsIqKitrHRpYsWTJz5szc3Ny78g1BECZPntygQQPkUyxatOiuuqWqkgkJCUEmz8vLa8SIEWVlZVXxs2vXLm9vb4SN8PDw2mCjQYMG48aN+2P5BlQTptAEACYpN2wgzQpOC+CICew3gggj2Mapqfmlap2wvJCR1Tph2q6W/FGWnyhhNmX6kTL+SKqVXVNJ5nuSnkKSk9WEGjGO0o/F9aMJLIDQBZD6uZQ1p1ZFXxcuXGjbti36Sfr5+SUmJj6WmKHVajWbzfd6NS0t7a233kKMd9iwYaWlpQ88Ic/zI0eORC7q22+/HRkZWVV17Ny5E2GjdevWQUFBZWVleqdgGGYwGIxGo+tLmc1m9BJBEBaL5U5seHh4fPHFF8nJyehw/W3heb622QGo0kVIy6DADi5YQIwR7uJgKAc2cmAdA1czIJiFKxi4jFbdE1Vp0E6lQdt/pm3zaMtPtHmOig3jTJL/geSmkSxKxH9HkJMIYgJhGIcbRjuZxhjC8DNlvmx9YMnH/fX/ggULPD0969Wr17hx4/nz599nQR+jbN68uVGjRvXq1WvVqtX27dtr4upCCE+ePPnaa68hwjlr1iyO4+7EhqenZ9u2bd9///0+ffr07t3b39//k08+CQkJcTGQ6Ojo/v37+/v7Dx8+/MSJE66PdmEDGdZu3bqhw5H069dv7dq193GiH4wKK1DK7OC8AA7yMIyDIaxjEwfX83AtB1ezcBUDV3JwOQuWMuBW14lqUKQFtPgLbVObC24D40cVGPx0kkVK4ztnvnUCSp0Q+lGkbhJBBrPWPDusXayroqLi/fffRzfk7bffzszMfDKR7RkzZnh4eLi5ub3zzjtZWVk197L79euH1P6QIUNctg9CGB4ejszinfLSSy/NnTsX2SwI4aZNm1Acpm3bthERES7r48LGXcXLy2v69OkMwzwKKiwAFNvhOTPcZ1RRsY1zbOEcm9XqHbBBLflT64RXMWAl41jGOJbSYAmt/OZiGpT9Z8o6z2lN5jityUySn0Fw04h/K42JBDGeNIwn8e9JcgnDHxHUKi9QK+UPITx69ChyTzw8PL788kuWZZ9EQkkUv/76a+Se+Pv718SguFhHQEAAOrBfv34FBQWuL7J9+3aEDXd396ZNm7Zs2bLVbWnXrt3ixYuRPqwhNry9vV977bVWVaRNmzY///zzw94fKEOgdeqKSKMjgnNsVy2IYyunlnU5q3fUzoI1HFzFQWc7kmMpC5cwYDGtBLHyQlZcSN9iGvMY8zxGmMOafqSNPxL8j4TaZfADRf9AMrNpeh5NLaOYHZz5gkUipcdSGipJ0vz589GNatq06fLly2uevHhc2Ojdu3dVVvlAbIwaNQod2Ldv36rY2Lp1K/oiL7/8ckBAQExMzInbcvr06YKCAkSJa4INDw8Pf3//kJCQE1UkPj4+Ly/vTofrfuqClUGWk1Ts5mA45wjjHNt4R8i/lQZcz4J1LFjDqDZlNQfXcmA9q2xi5C2MGMpKYZy0yyjuM9qjTLZjJuspwZooWM8JtmSzPd0qZtvs2Tb7VZu9wGYvt8u0DGzgMVb98Tw/fPhwFH586623EhMTn1i2dNasWS6bUnNDJgjC0KFD3dzcPDw8Bg0aVFJS4sKGa8X/9Kc/bd682W6330tVVsXGjh077sSGp6fnxIkTa+XDKhDoRZAowP083MWBHRzcblSBEcqrSmOzU2lsYh2bWbCdBwd55aRRuigouTZQKgKDrIbNeQWaFWgF0A4dksOhqH7urccTKS6orKz09/dHYY2ePXsWFRU9sfBOaGgo4qKtW7fetWtXDdPlN2/e7NSpE9L5o0ePdgVhIIQbN250YSMkJOReP/CaYKNhw4ZTpky5M7xWU4UhAlBgA3FGGMmDXbxjhxHsYGEYC7dxcKvzsY0DB3iVfuTaASZBQXFI8Ikteg2lqKjo3XffRdj46KOP9Hr9E/vonJycDh06oFUeOXKkVqutibYJDw9v0qQJ8m5WrFjh8kAhhBs2bHhc2PD09HxkbEA7ABqnHYnk4G7OEcE7wjmoWhMOhvIwjFeiOSXLChnF8WxX9hYWFvr5+SFsfPLJJzWPhaJ6MNPDi91uR3EGi8USGBjYoEEDd3f3t956KzIy8oGhA4ZhPvvsM5SD69q1a9U4DIRw/fr1Tx0b0AbAdSuI5mEk79jNwV08iOBVprGdBeGcEmMEGjvklVp6EM84NhiGmTp16ueffz5kyJAv7iGul4bcln/+8587duxwMYHs7OwOHTo0atSoX79+Z86cuX/ADQCwf/9+lDFp3Ljx5MmTqybZHxkbd+Wij4YNtVFRY4WxRhDJOfZwcDcPd3JwBwfDeLCXky8KgJSfo77UoqIiVxqlb9++NVHsSDAMcx1Yc2nWrNn8+fNtNpvLW1m5cuXw4cOTk5PvH+KGEF6/fv29995DHkqnTp2ioqKq6pmnjw0FKiU2eMSoks+9KjDALl4Fxg5OiTWq5TrPWzO7Xq/v378/WrguXbpcv3695tjo1atXw4YNPR8kKGPyP//zP8i7XLlyZVUYCIJgMBgeaE1Ikhw+fDjK1L/66qvz58+vVplTDRuhoaFPFBvQAfQSOG2CB3hVaezm4W4WRnAwggdxJoA9lyN0BEH45ptvUK3FG2+8ERsbW8NMCsdxS5YsmVxFJt0h6PnRo0f7+PiggFLr1q337dv3sCkJhmEWLFjQpEkTNze3Ro0aff7553cWhDxdbECzApLM8BAH93GOPbxTaXAwwignmAAtPaedhoqiLFu2DKUhGjVqNGfOnBrGdiCEkiSJomh3iusPl7iewXHclaTo2LFjWlrawybsgoKCUPFPgwYN/P39jx07dmeArio2fH19nyg2ZAjybTDGCPdzjlvWRGWhSpwJkNJz3YJ65syZN998E5WGDhw48LEXSWZnZ6NyLA8Pj4EDBz5U4ttisWzZsqV169Yo2NWhQ4fw8PC7pvKrYWPbtm1PDBuQlMAJAR7gHbcpKNjNKUd41ZQ85+2nJEl++umnqEbLx8cnPj7+MTb1iKL466+/ooV46aWXZs6c6SKiNTk2LCysZcuWqHigffv2a9asMZlM91rxp4MNBcIcC4jiHZFObDj9VhjJgRu258JRfaBZWbNmDQpRNmzYcMKECXcWYNcmwNW5c2e0uB06dIiOjq4h2bDZbNu3b2/bti1SaG3btl25cuV9Lqxq7OtJYkPNmMSbwAEOIqWxSyUbcpLphZnAdu3aNT8/P5RV8fX1jYiIeCwNX1ardc6cOQ0aNEDBz1GjRtXQYEmSdODAAcRg3d3d27ZtGxQURFHU/fnPU8CGAkGuFR42OfZxTr/VqAa7DvMKIb0wky7sdntwcLCL7/Xp0ycjI6OWBU6iKIaHh7/xxhtofTt06HDy5MmanFOSpPDwcFcdqa+v7++///7Aquaq+ZQnxkWhoICzakBDpaB7eBUYuzgl2eR4scZcYBg2aNAg1K/k7e3997//XaPRPDLxUBTlzJkzf/nLX5Dr2qxZs8DAwKo1Wvek/LJ87NgxVCvo5uaGOhNrkg+tlmurJTZqmGuDmARijWAfB/dwYDcPdvLgoPGhhqg8FwIASExMRJYFBaWHDBly+fLlRyjnsNlskZGRXbt2Rafy8vL68ssvc3NzH4g0RVEOHjzYoUMHBIzWrVvPmDFDq9XWBKKPjI175WG/++67B2ADOuANO4hS4+FqeHwXB3dyymnjww1ReU5EkqS9e/e++eabyGfx8vLq06dPTEyMyWSqoQIBABgMhvXr17dp0wYBw9PTs2fPnmfPnn2gNZFl+dy5c66kcIsWLSZOnJifn1/Dj65Wv1FLbHh6ek6aNOn+7AhKEKaa/yPYtZNXNJYXdZIniie0a9cOrayHh4evr++oUaPi4+Npmr7P+sqyXF5evnPnzgEDBjRt2hStb8OGDXv37n38+PEHxtMAAKdOnercuTOqIW/RosXo0aMLCwsfqtW69tjgOG7gwIHoi3/11VfFxcV3HluVbMBEkwNFyNUoKAsijRD7I9ur0Z4pdgitEJiBYgKKAIAZACuE4pPYRcVms+3evbtjx46uJnpUtv3VV19t3bo1OTm5uLjYYDAQBIHjuE6n02g0J06cCAoK6tu3b/PmzRGo3NzcXnrppYEDB1at4r6PKbl48eIHH3yAQveoj2n16tVpaWnpTrl8+XJ6enqGU9JvS2ZmZmlpqevkEMLNmzfXMkdvt9vHjh2L/LUuXbpERkYKggCdYrFY8vLy0tPTXUlkQErwmNGxh3OowHDm1KKN0PgHDPSQHYpJkcoky2UrF2uktrHkWpZYyhkWsfpFjH4xo1/BGbawxGHOlGK1FYsyr/xxM99EUURdz6gbESGkfv36jRo18vHx8fPze++99/z9/T/44IMePXq0a9fulVdeQQk1hApPT8927dpNnz69oKDggcCAEKakpHTv3t01ogGZ+1atWr3hFB8fnzduy5tvvul6sl27drNmzXJVfVfDxtatWx+Bi0IId+zYgZrjvLy8unbtOnv27B07dmzevHnUqFHt27cfNmzYlStXkDYDlRKMNt5SGjvUclAQZ3qMZAMqUGEVMd9uijPS6xhiDq2fQmrHEdoAsvxrvGwEXjocLxmGF//dUDwUL/4bXjTUUPRP/OYYQ+l8yrCLNWXaRINcm+aU+yyZTqdbtWpV7969qy69a0ILkqol+mgkTps2bYYOHXrgwIGa1OoDANLT0/v37+/SUdXkPul+b2/vsWPHuqJhCBuozrwm2EDvrIYN1JHRr18/pP3c3d0bNWrUrFmzRo0auRqmQkND1Xp16HAU2B0HkDXhHM46YeW04HgsiXjgUEhZOCtwq1nqR5KYRBrGqQO7dM5pCRUqMIjSf+Kl/8BLvsSLhxqKhugLP9fnf6bPG6TPG2jI+0SfO1Cf+zd9wWRcu50zF9jBH1AeoCiKVqvdt2/fiBEj2rdv//LLL3t7e6OROK4RSQ0bNmzSpEmrVq169uw5Y8aMhISE+zOTqmtUWFg4ZMiQli1bNndKixYtmt8hLe4hPj4+gYGBroAYhDAsLOz1119v3ry5n59feHj4fbCxffv2119//ZVXXunSpcvevXurYgPpsffffx9N+HF9TS8vrzZt2kyePDkrK0tVhqqTYlNLNZzVO2oB+XZeOWdxyLVlFAqtWC4I3HqW+YFydiTh+DhSncvk7G+tGImX/6uK0hhquPk3Q+EX+oL/098YrGIj9xO9ZgB2rR92ta8u50MsZwB2fZShYgsr5P0hCAEAsCybnZ29e/fuxYsXT5s2bdSoUSOdMn78+Llz565du/bo0aOFhYV3HWpxn9Pm5eUdOnRo331l/x2Cnj948GBaWlrVYvKioqKDBw/u27fvyJEjRUVF98FnUVHRgQMH9u3bd/To0ZKSkmrvBADk5+cHBwdPmDBhuFNGjhz5008/RUVFabXaW2+GDphng/tuK43tvCOMV5LMtdkuTZ0nfMNmDOXYH0jmO4KeRFLjSXw8rnfOZUIjVm5Zk6/wkn8rDYNLaeR+atB8rL/eH7v6EXalL5b9IZb9gS6zly7zA/21Ebj2AKdY/kAnCk2SRNMPrFarKIqKojzTIxlr8U1FUTQ7xWq1SpL0H18TYSOSd3WdwO2cckF4ZGxAK7AnW7glFDONpL8nna1qJD4BV0eDjsFvKY0AvOIboiwALx2Nl44hSkfhJQH4za/xwmH6/C8MNz4z5H6qv/ax7tpHWE5fLOdDXXZvLPN9LKOXLq2n7vJf9TlfG6xldSPNnwB0HDDXDvcYHWGsYzvnCOVBKKckCI5HvfcKJ5t2cOwMiptCUVNw0jlPGB9HOidpUNhYEptCGRbR1DaejTbx5wTjJYFPE/hLAptsoo+Z8B18xRK6aCKRNwS/NgC79qEhu48+6wMs4z1dek8srQeW1l13ZZjBWlKHjSeBDbUEdC9/u1WNh1s5cNzksD+qCgUO6aadX8movc+TSXIibpiAq9NBp5HkaoY/Llg1NomUgR2oTUywSifLrdkdUDEptlKRS7Xod3M3Z5PXPjeo2OiFXf6rCoxL3XRX/oXbdGLd0j2JLEO5HUYaVaaBWtW2cCDaBGtj0BVoTbMwP1P0RIKYQOFTCWYlZU42y5zyULFWqECJVrCdfPbH+vSe+ss9sEvdtKldtTnfGuxUnd54ItggJHjI6OpvBZsZsNsI2VrFvqANmBPM1CyKDCJNZwWZftSeBeigTgvZn6jASOuuS+lWmdJVp/melEx1s+6fiFUxKfCo6VZT/GYWbGRgCA/Ka/vDVIyKcEoQ8+y1iW1CGVaGcJm9scvdsUvdsJQu2pSuWP6vNKjb1K/WHkp1r+SubxMhOGt2hN6algA3sGATo2TUOtfmnPVUy8yIxCj5M8j0v6rASO2qS/HTpbyHlWxjIKjDRq3EbDZXVFQ8OHwHHDDbpvKNqtMSjpiehRy9kCfm/M3gpKBYShcs2U93eQBGnhMe9jxWq5XjOKPR6AokKorC8zzHcTzPi6IIITSZTCzLGo3GqqkHi8XCsqzJZHIVENpsNtdRKOnP8zzrFPQ2URQ5p1Q9SpblqqdFn+i6Eld0C/2c0ZOuhZNlWVEU9LkMw3AcZ7FYAACuL+U6syzL6LQAALPZjN7pesaV95EkiSRJg8HgOlBRlKqXVzVDBCskGGGEmxhVaaxj1Wldqll5yr4AVKB+vzHjA+xSN11qV12yH3bBT5cdgFsfsugIABAbGxseHh4bG3v48GE0gRzDsODg4P379x87dqy8vBwN6IuMjIyKijp27JjFYlEUJScn59ChQ3FxcYcOHUpISEAd0GfOnImIiIiJiYmKiqqoqNDpdLGxsStXrtyyZcu5c+dMJlNWVta2bdtiYmLOnTtnNBrRNRAE4ep5xDAsJSXFdf9LSkoiIyPRvB1BEK5cuSLLcklJiSuNUlxcXFlZeePGjX379i1evDgsLCw9PV0QhISEhJ07d8bGxh4/fpwkSQBAQUGBzWaTJCkrKys6OjouLu7IkSN5eXkAAIIgUKEIwzDHjx8/evRoXFzc2bNnWZaFEGq12hMnTqBZYVartbCw8N/JX04B0UakNJzbxDPOfXAEx1PdUdGOS7lTDZe7q8C4+K4uuTN28V2scAUDbPBhsREVFVVYWCiKYnFx8d69ewmCQJUYZrNZkiQAgM1mi4iIYFnWZrMlJiZev369qKhoz549OI6jPQvOnj176dIlRVESExOLi4tFUczOzo6OjpZlWRTF5OTknJwc9LPNysrSaDSSJLl+xSjtGx8fX1RUpCjK2bNnXaN4HA6HRqOZO3cu6mLjOO78+fOSJGk0Glff7vXr19GWHOjabty4gbTK+fPny8rK7HZ7Xl5eRkaGoihZWVloI5iTJ0/yPC/LMs/z6enpDMNotdqMjAy73Z6cnJyXl4car0pLS1FGvqCgYNWqVaiYxGw2Z2dn/zv/IkOQJoDN6rwduIaBwepcJjmMA7T8NJVGFJ/ZD0vresuaJHXWpfbW0Rceepg5ACAmJqa8vBz9m5eXd+XKlfLy8k2bNmm1WpqmJUmy2Wy7du0yGo2KoqSkpGRnZ6OldJ2EZdmIiAiO4xITE0tLSxVFQXvxIKuRkZGRn5+P3pmWlpacnEwQRLVaMoqijh8/npubW234eXFxcXR0dHJyMo7j98IGGt2DcmRoNhSE8MKFCxUVFYqioH2XFEXJzMzkef7s2bNV69Ulp2i12rS0NK1We/78edenQwhLSkpomtbpdKdPn75+/TpN09WxAR1AK4JdPFirblugYmM5q6xipRTT09o1z45JuRPxy931qV21qtLopEvy010Zg9sevugIYcM1bquysjIrK6u0tHTevHlxcXGpqalGo9FqtS5ZsuTo0aOJTuF5/vTp01Xr5cxm8/bt2w0Gw+HDh3fs2LF///6dO3e68Jaenu7CxoULF0JCQhITE/Pz86tiAK3m6tWrq3W9lZWVJScnV1ZWnjlzRqfT3YkNjUaD5shBCFNTU13YiIqKCg8PP3jwYFxcHEEQAIDMzEyWZRMSEu5si0PYKCwsTEpKqopYHMdJkqQo6saNGzRNp6enYxhWbcC76q0kCHAdC507xavbFixj5C2UUml/CiEXEer28Bl9dKnddBe7ai921iW9o7v4QWXFLg48PFYR30DrCCFMS0u7du1aRUXF3r17XZzQZrNt27atsrKS53nk3CUkJKSnp7tuo8Fg2L9/v9lsjo+Pv3r1al5e3uHDh10c8vLlyzdu3EB/Z2dnFxQUoEqqaldSVlZ26NChapMWysvLU1NTFUVJT0+Pjo5OSEiQJCkvL8+FgZycHNffVbGBbJ9Go0GHIGyYTKaEhISSkhLXp9M0zXGcVqtNT08nSTI+Pr4qIc/Pz+d5nqbp4uJiCOHVq1ejoqIyMjL+4yKhAxaK6kAetN2Jczo9WMJKR4zwyQaaIHQwKearwwypPXSpXbCUzlhSJ92Fzrqcsbi14lGiLmjgSVJSUllZWWpqalRUFM/zFRUVGzduLCgoKC8vRzTjwIEDVQfSYhgWGRmZnZ2N43hhYeGxY8eQOb5w4QLakubUqVMajQa9OTMz00Uh0tLSEhMTy8rKdDpdtVltGIadPHmyWs9URUUFAqEgCOvXrz9w4IAkSZWVlcePH6+srKyoqDh37hwaBouAXRXkyNdISkpCu6hkZ2ebzeby8vLDhw9rNBocxwsKCpKSkjiO0+l02dnZsiynp6cnJCRUVFQg/aDRaGRZpmkaQQ7VzycmJlYDMDQD5aQAV3POCZAMdI4GlZay4hnhSc7csGNybiBxuWflpa66i120SX66C+9oU3ph2gPGRxspifhhdHT0iRMnMjIy0H3meT42NjYmJubYsWO5ubmSJBUUFFS7IRRFxcfH79+///jx464SiMrKStSvyrJsQUEBetJgMLhqwEpKSg4fPnz06NEzZ85U28NCEIQ7SymMRqNrBJlWq0VuhSzLV65ciYqKOnXqlGvnLwghhmHI90F/IzDzPI9hGAAAx3Gk9NDGCocOHUpKSkLXIAgCMpF2uz0rKysqKiouLs71lW02m2sWMUVRdwl9qKxDAmE82gcH/E5Li9SZseJyRkwz/xFVeXeKSMo3F9MZ/lhqd6c18dMlddImvVt5fSph00u10EUQOKWqnge3xXXn76pzUP1G1VPd+Xe1J6ududqVPPBSq8Y6qhWj3vXT73paAAAyNHf9CNkp97qYuz6vDpi9IKgbQC+hlUWsFESrg6Z/pW0rGSnd+kfDQzErlWFs5kdq6gT5rUmdseRO2vTBejrJAl/QnojnKdLOKcoxk7KMkYNYaSGNptOrg6aX0vYUC7T9UfCQGKV8E505GEvroVOtSVfdxU5YUmfdpfcry0JZYK8Lkj8L4FDHOsm7eGkxIy1Qdy6wqVta0JY5tGkRbT1pAiblMfePQIfdIFVs5LIGYJd76NO6YSndtCnOgEZSTyxvHmXV12XknxkBDqVYlMJ5MYgW51OW+ZTlJ8asTqcnTT9Rph2sWGJ/XNkuKEPTNWvBDDLrIyy9pw5FQVO66JL9tBe76a5PJsxldkedznimRIFKvl3cwtp+ZSyuLS1mkcYfSO4HkltOWy9aZE6uzapBAEVSxg8bc0dhWf76y72wjO76S911KV2xi+/qLnbX53xLMGl1NOMZhYdcYLdt4SzzGWEOfXtLC7QPDsFOp7m1tOWSWTE+fA02cMicwsSbC6cTOR9jGf5qnbCaiO+hS+2qTfXTpnbXXQkwcNlWqNSpjGcYHvl2axgn/EwbZzk3SJpOcoEU8z1BfUdSk0lqOsWsZ8zxFttNu2JSbpWA3oNUQBnKRsWca6cOC8VzyWtD9Dkf6px1wlh6T8xZ8oeldNNd6oVdDyRVjSHXAeOZ5x6YZNljNP5M8zMIdhrBfu/cB2eyug8OPl7dDVw/jtDPJPBgmjnECZet9iJR1IsiJYmUaCdFu0605otcikW/iy3/hbrxteHaJ87mgt5Ytr8+4wNdei/9ZVVpaC9106Z9qM+fTQlFdRzjufFcFFK2nTILvzH8DAptnkVOIvAJzo19b2/FqB1JVAQQFWOJiolk+VSifDpROg0vCcSLJxCF3xgKhuF5gw25Aww5A3RX1a4TLLs3lvWBPqOXPv2vWNpfsfReuqwvDKXrWLU8ow4YzxdARGi/ZjNuZdlZFKVuxUio28SP/c/+1n+hVjVD8d/VHsaiLwyF/2coGGzIG4zlforlfoxp+mHXPtJd6au94gQG6khK76nP/NCgmUxQ58yKuY56Pq/2RSZly1kzu5ohp1OGCWp/K/btv/tbS79C/a2G4i+d/a2f3+pvzR2k13yi1/THrvXT3lIa/limig191gC9Zhyu28ObS8Q65vn8E1SHpJdMJ0zUMtYwg8TGkpUBRPntpviSf6jTEm4ORUpDnz8Yu6E2xetzB2Caj/TX+mJXP1TbGK98pL862JA7gagMZ81F9ieTrKmTJ2RiJCgRkiXLyuzmDb8xukCyfLTa/lw2nCj5O35zKK42Pv+fPm+wPm+wIW+gQe2L/8RwfZDu+jBD/kSiPJhhzpmtWrEuGP4C01RgA5JeEtKtXLSAb2WxJUzFHLo8kCybQJSMI4rHE8UTyZKpZMl8sjyYMew0MhfM1jJRsYI6wvnfAxK1ldWqyKws6iVbmWgtslsK7Naboq1MsmOSxMiKRal9x0qdPDH5fz6nkLA=';\n\nconst LOGO_W = 180, LOGO_H = 85;\nconst LOGO_DW = 160, LOGO_DH = 75;\n\n// ===== Colors [R, G, B] 0-1 =====\nconst NAVY       = [0.059, 0.086, 0.165];\nconst PINK       = [0.984, 0.373, 0.671];\nconst LIGHT_PINK = [0.992, 0.902, 0.953];\nconst LIGHT_BG   = [0.967, 0.967, 0.973];\nconst GRAY       = [0.39,  0.455, 0.545];\nconst WHITE      = [1, 1, 1];\nconst DIVIDER    = [0.859, 0.875, 0.902];\n\n// ===== PDF Page constants =====\nconst PW = 595.28, PH = 841.89;\nconst ML = 38, MR = 38, MB = 45;\nconst CW = PW - ML - MR; // ~519\n\n// ===== Layout Engine =====\nconst pages = [[]];\nlet curY = PH; // will be set properly after cover header\n\nconst curPage = () => pages[pages.length - 1];\n\nconst cmdRect = (x, y, w, h, fill) => {\n  curPage().push({ type: 'rect', x, y, w, h, fill });\n};\n\nconst cmdText = (text, x, y, size, bold, color) => {\n  curPage().push({ type: 'text', text, x, y, size, bold, color: color || NAVY });\n};\n\nconst cmdLogo = (x, y) => {\n  curPage().push({ type: 'logo', x, y });\n};\n\nconst addV = h => { curY -= h; };\n\nconst ensureY = needed => {\n  if (curY - needed < MB) {\n    pages.push([]);\n    curY = PH;\n    addPageHeader();\n  }\n};\n\n// ===== Sub-page header (all pages except cover) =====\nfunction addPageHeader() {\n  const BAR_H = 30;\n  cmdRect(0, PH - BAR_H, PW, BAR_H, NAVY);\n  cmdRect(0, PH - BAR_H - 4, PW, 4, PINK);\n  cmdText('G2FIT NUTRICION  |  PLAN NUTRICIONAL PERSONALIZADO', ML, PH - 20, 7.5, true, WHITE);\n  cmdText(N(cliente.nombre), PW - MR - 120, PH - 20, 7.5, false, [0.75, 0.82, 0.9]);\n  curY = PH - BAR_H - 4 - 12;\n}\n\n// ===== Footer on each page =====\nfunction addFooter(pageNum, totalPages) {\n  const FY = 28;\n  cmdRect(0, 0, PW, FY, NAVY);\n  cmdText('G2FIT NUTRICION  |  Tu bienestar, nuestra mision', ML, 10, 7, false, [0.5, 0.6, 0.75]);\n  cmdText('Pag. ' + pageNum + ' / ' + totalPages, PW - MR - 50, 10, 7, false, [0.5, 0.6, 0.75]);\n}\n\n// ===== COVER PAGE =====\nconst COVER_H = 115;\ncmdRect(0, PH - COVER_H, PW, COVER_H, NAVY);\ncmdRect(0, PH - COVER_H - 5, PW, 5, PINK);\n\n// Logo centered in cover header (white background behind logo)\nconst LOGO_PAD = 10;\nconst LOGO_X_COVER = (PW - LOGO_DW) / 2;\nconst LOGO_Y_COVER = PH - COVER_H + (COVER_H - LOGO_DH) / 2;\ncmdRect(LOGO_X_COVER - LOGO_PAD, LOGO_Y_COVER - LOGO_PAD, LOGO_DW + LOGO_PAD * 2, LOGO_DH + LOGO_PAD * 2, WHITE);\ncmdLogo(LOGO_X_COVER, LOGO_Y_COVER);\n\ncurY = PH - COVER_H - 5;\n\n// Title section\naddV(30);\ncmdText('PLAN NUTRICIONAL PERSONALIZADO', ML, curY, 13, true, PINK);\naddV(24);\ncmdText(N(cliente.nombre), ML, curY, 21, true, NAVY);\naddV(14);\n\nconst objText = N(cliente.objetivo || '');\nif (objText) {\n  cmdText('Objetivo: ' + objText, ML, curY, 9, false, GRAY);\n  addV(14);\n}\n\n// Kcal info line\n\n\n// Intro text\ncmdRect(ML, curY - 42, CW, 42, LIGHT_BG);\ncmdRect(ML, curY - 42, 4, 42, PINK);\ncmdText('Sigue este plan durante todo el mes. Esta dieta ha sido disenada especialmente', ML + 12, curY - 14, 8.5, false, NAVY);\ncmdText('para ti en funcion de tus objetivos, preferencias y restricciones alimentarias.', ML + 12, curY - 26, 8.5, false, NAVY);\ncmdText('Si tienes alguna duda, responde a este email.', ML + 12, curY - 38, 8.5, false, GRAY);\ncurY -= 42 + 20;\n\n// Divider before days\ncmdRect(ML, curY, CW, 1.5, PINK);\ncurY -= 20;\n\n\n// ===== NOTAS DE LA NUTRICIONISTA =====\naddV(8);\nconst NOTASH = 22;\ncmdRect(ML, curY - NOTASH, CW, NOTASH, NAVY);\ncmdRect(ML, curY - NOTASH, 4, NOTASH, PINK);\ncmdText('NOTAS IMPORTANTES DE TU NUTRICIONISTA', ML + 10, curY - 15, 8.5, true, WHITE);\ncurY -= NOTASH + 6;\n\nconst notasPDF = [\n  { t: 'Cafe e infusiones', l: [\n    'Puedes consumir cafe solo con agua libremente, sin necesidad de especificarlo en la dieta.',\n    'Infusiones y te: siempre sin azucar, miel ni otros endulzantes caloricos.'\n  ]},\n  { t: 'Hidratacion', l: [\n    'Procura beber al menos 2 litros de agua al dia.',\n    'Una buena hidratacion es clave para el metabolismo, la digestion y el rendimiento diario.'\n  ]},\n  { t: 'Consumo de fruta', l: [\n    'Intenta consumir la fruta en la comida indicada en la dieta,',\n    'ya que su distribucion esta pensada con un objetivo nutricional concreto.'\n  ]},\n  { t: 'Verduras', l: [\n    'Puedes variar las verduras segun tus gustos; las que aparecen son una sugerencia de combinacion.',\n    'Puedes aumentar la cantidad si lo necesitas: aportan saciedad, fibra y micronutrientes.'\n  ]},\n  { t: 'Aceite de oliva', l: [\n    'Controla la cantidad de aceite al cocinar o alinnar. Aunque es saludable, aporta calorias.',\n    '1 cucharadita pequenna = aprox. 5 ml | 1 cucharada sopera = aprox. 10 ml.',\n    'Mide el aceite con cuchara en lugar de verterlo directamente de la botella.'\n  ]},\n  { t: 'Cambios puntuales en la dieta', l: [\n    'Si algun dia deseas comer algo diferente, intenta cambiar el dia completo, no solo una comida.',\n    'Esto ayuda a mantener el equilibrio nutricional del plan.'\n  ]},\n  { t: 'No saltarse comidas', l: [\n    'La distribucion de comidas esta pensada para mantener la energia estable durante el dia',\n    'y facilitar la adherencia a la dieta. Intenta no saltarte ninguna.'\n  ]},\n  { t: 'Proteinas del pan', l: [\n    'La proteina del pan integral o tipo Wasa puede variarse segun tus preferencias:',\n    'pavo, jamon serrano, pollo, atun u otra opcion similar.'\n  ]},\n  { t: 'Edulcorantes', l: [\n    'Puedes utilizar edulcorante al gusto, ya que no aporta calorias significativas dentro de la dieta.'\n  ]}\n];\n\nfor (const nota of notasPDF) {\n  const nL = nota.l.length;\n  const NH = 10 + 13 + nL * 11 + 6;\n  ensureY(NH + 4);\n  cmdRect(ML, curY - NH, CW, NH, LIGHT_BG);\n  cmdRect(ML, curY - NH, 3, NH, PINK);\n  cmdText(nota.t.toUpperCase(), ML + 9, curY - 14, 7.5, true, NAVY);\n  nota.l.forEach((l, i) => {\n    cmdText('- ' + l, ML + 9, curY - 26 - i * 11, 7, false, GRAY);\n  });\n  curY -= NH + 4;\n}\n\n// ===== DAY SECTIONS =====\nfor (const dia of dias) {\n  // Each day on its own page\n  pages.push([]);\n  curY = PH;\n  addPageHeader();\n\n  // Day header bar\n  const DAY_H = 33;\n  cmdRect(ML, curY - DAY_H, CW, DAY_H, NAVY);\n  cmdRect(ML, curY - DAY_H, 5, DAY_H, PINK);\n  const dayName = N(dia.nombre_dia || ('DIA ' + dia.dia)).toUpperCase();\n  cmdText(dayName, ML + 14, curY - 21, 11, true, WHITE);\n\n\n  curY -= DAY_H + 5;\n\n  for (const comida of dia.comidas || []) {\n    // ─── Two-column: ingredients (left) | preparation (right) ──────────────\n    const ingArr = (comida.ingredientes || [])\n      .map(i => N(typeof i === 'string' ? i : (i.nombre || '')));\n    const prepRaw = (comida.preparacion || []).map(p => N(p));\n\n    // Column geometry\n    const CONTENT_X  = ML + 12;\n    const FULL_W     = CW - 20;\n    const COL_L_W    = Math.round(FULL_W * 0.50);\n    const COL_GAP    = 10;\n    const COL_R_X    = CONTENT_X + COL_L_W + COL_GAP;\n    const COL_R_W    = FULL_W - COL_L_W - COL_GAP;\n    const PREP_CHARS = Math.floor(COL_R_W / (7 * 0.52));\n\n    // Build prep lines: label + wrapped steps\n    const prepLines = [];\n    if (prepRaw.length > 0) {\n      prepLines.push({ text: 'PREPARACION', label: true });\n      prepRaw.forEach((step, idx) => {\n        const wrapped = wrapText((idx + 1) + '. ' + step, PREP_CHARS);\n        wrapped.forEach(l => prepLines.push({ text: l, label: false }));\n      });\n    }\n\n    const PAD      = 10;\n    const TIPO_H   = 15;\n    const NAME_H   = 15;\n    const HEADER_H = TIPO_H + NAME_H;\n    const AFTER_H  = 7;\n    const LINE_H   = 11;\n\n    const contentRows = Math.max(ingArr.length, prepLines.length, 1);\n    const CARD_H     = PAD + HEADER_H + AFTER_H + contentRows * LINE_H + PAD;\n\n    ensureY(CARD_H + 5);\n\n    // Card background + left border\n    cmdRect(ML, curY - CARD_H, CW, CARD_H, LIGHT_BG);\n    cmdRect(ML, curY - CARD_H, 4, CARD_H, PINK);\n\n    // Column separator line\n    if (prepLines.length > 0) {\n      const sepX   = CONTENT_X + COL_L_W + Math.floor(COL_GAP / 2);\n      const sepBot = curY - CARD_H + PAD;\n      const sepTop = curY - PAD - HEADER_H - 2;\n      if (sepTop > sepBot) cmdRect(sepX, sepBot, 0.7, sepTop - sepBot, DIVIDER);\n    }\n\n    // Type label (pink bold)\n    const tipo = N(comida.tipo || '').toUpperCase();\n    cmdText(tipo, CONTENT_X, curY - PAD - TIPO_H + 3, 7, true, PINK);\n\n    // Meal name (navy bold)\n    cmdText(N(comida.nombre || ''), CONTENT_X, curY - PAD - HEADER_H + 3, 10, true, NAVY);\n\n    // Content area Y start\n    const contentTopY = curY - PAD - HEADER_H - AFTER_H;\n\n    // Ingredients — left column, one per row with dash bullet\n    ingArr.forEach((ing, i) => {\n      cmdText('- ' + ing, CONTENT_X, contentTopY - i * LINE_H, 7, false, GRAY);\n    });\n\n    // Preparation — right column\n    prepLines.forEach((line, i) => {\n      cmdText(line.text, COL_R_X, contentTopY - i * LINE_H, 7, line.label, line.label ? PINK : GRAY);\n    });\n\n    curY -= CARD_H + 4;\n  }\n\n}\n\n// Add footers (we'll do them after we know total pages)\nconst totalPages = pages.length;\nfor (let p = 0; p < totalPages; p++) {\n  // Inject footer commands at start of page (drawn first so content is on top)\n  const footerCmds = [];\n  const FY = 28;\n  footerCmds.push({ type: 'rect', x: 0, y: 0, w: PW, h: FY, fill: NAVY });\n  footerCmds.push({ type: 'text', text: 'G2FIT NUTRICION  |  Tu bienestar, nuestra mision', x: ML, y: 10, size: 7, bold: false, color: [0.5, 0.6, 0.75] });\n  footerCmds.push({ type: 'text', text: 'Pag. ' + (p + 1) + ' / ' + totalPages, x: PW - MR - 55, y: 10, size: 7, bold: false, color: [0.5, 0.6, 0.75] });\n  pages[p].unshift(...footerCmds);\n}\n\n// ===== PDF GENERATION =====\nconst nP = pages.length;\nconst ID_CAT   = 1, ID_PAGES = 2;\nconst ID_PAGE  = i => 3 + i;\nconst ID_CONT  = i => 3 + nP + i;\nconst ID_FREG  = 3 + 2*nP;\nconst ID_FBOLD = 4 + 2*nP;\nconst ID_LOGO  = 5 + 2*nP;\nconst NOBJ     = 6 + 2*nP;\n\nconst buf = [];\nlet pos = 0;\nconst offsets = {};\n\nconst WB = s => { buf.push(s); pos += s.length; };\n\nconst writeObj = (id, dict) => {\n  offsets[id] = pos;\n  WB(`${id} 0 obj\\n${dict}\\nendobj\\n`);\n};\n\nconst writeStream = (id, stream) => {\n  offsets[id] = pos;\n  WB(`${id} 0 obj\\n<</Length ${stream.length}>>\\nstream\\n${stream}\\nendstream\\nendobj\\n`);\n};\n\nconst writeStreamDict = (id, extraDict, stream) => {\n  offsets[id] = pos;\n  WB(`${id} 0 obj\\n<<${extraDict} /Length ${stream.length}>>\\nstream\\n${stream}\\nendstream\\nendobj\\n`);\n};\n\nWB('%PDF-1.4\\n');\nwriteObj(ID_CAT,   `<</Type /Catalog /Pages ${ID_PAGES} 0 R>>`);\nconst kids = Array.from({length:nP}, (_,i) => `${ID_PAGE(i)} 0 R`).join(' ');\nwriteObj(ID_PAGES, `<</Type /Pages /Kids [${kids}] /Count ${nP}>>`);\n\nfor (let p = 0; p < nP; p++) {\n  writeObj(ID_PAGE(p),\n    `<</Type /Page /Parent ${ID_PAGES} 0 R /MediaBox [0 0 ${PW} ${PH}] ` +\n    `/Contents ${ID_CONT(p)} 0 R ` +\n    `/Resources <</Font <</F1 ${ID_FREG} 0 R /F2 ${ID_FBOLD} 0 R>> ` +\n    `/XObject <</Logo ${ID_LOGO} 0 R>>>>>>`\n  );\n}\n\n// Watermark coords\nconst WM_CX = PW / 2, WM_CY = PH / 2;\nconst WM_HALF = 150;\nconst WMX1 = (WM_CX - WM_HALF * 0.7071).toFixed(2);\nconst WMY1 = (WM_CY - WM_HALF * 0.7071).toFixed(2);\nconst WMX2 = (WM_CX - WM_HALF * 0.7071 - 80).toFixed(2);\nconst WMY2 = (WM_CY - WM_HALF * 0.7071 + 240).toFixed(2);\n\nfor (let p = 0; p < nP; p++) {\n  let stream = '';\n\n  // Watermark\n  stream += `BT\\n/F2 38 Tf\\n0.88 0.88 0.88 rg\\n`;\n  stream += `0.7071 0.7071 -0.7071 0.7071 ${WMX1} ${WMY1} Tm\\n(G2FIT CONFIDENCIAL) Tj\\n`;\n  stream += `0.7071 0.7071 -0.7071 0.7071 ${WMX2} ${WMY2} Tm\\n(G2FIT CONFIDENCIAL) Tj\\nET\\n`;\n\n  // Draw commands\n  for (const cmd of pages[p]) {\n    if (cmd.type === 'rect') {\n      const [r,g,b] = cmd.fill;\n      stream += `${r.toFixed(3)} ${g.toFixed(3)} ${b.toFixed(3)} rg\\n`;\n      stream += `${cmd.x.toFixed(2)} ${cmd.y.toFixed(2)} ${cmd.w.toFixed(2)} ${cmd.h.toFixed(2)} re f\\n`;\n    } else if (cmd.type === 'text') {\n      const f = cmd.bold ? 'F2' : 'F1';\n      const txt = E(cmd.text || ' ');\n      const [r,g,b] = cmd.color || [0,0,0];\n      stream += `BT\\n/${f} ${cmd.size} Tf\\n`;\n      stream += `${r.toFixed(3)} ${g.toFixed(3)} ${b.toFixed(3)} rg\\n`;\n      stream += `1 0 0 1 ${cmd.x.toFixed(2)} ${cmd.y.toFixed(2)} Tm\\n(${txt}) Tj\\nET\\n`;\n    } else if (cmd.type === 'logo') {\n      stream += `q\\n${LOGO_DW} 0 0 ${LOGO_DH} ${cmd.x.toFixed(2)} ${cmd.y.toFixed(2)} cm\\n/Logo Do\\nQ\\n`;\n    }\n  }\n\n  writeStream(ID_CONT(p), stream);\n}\n\nwriteObj(ID_FREG,  `<</Type /Font /Subtype /Type1 /BaseFont /Helvetica /Encoding /WinAnsiEncoding>>`);\nwriteObj(ID_FBOLD, `<</Type /Font /Subtype /Type1 /BaseFont /Helvetica-Bold /Encoding /WinAnsiEncoding>>`);\n\n// Logo XObject\nconst logoBytes = Buffer.from(LOGO_B64, 'base64');\nconst logoHex = logoBytes.toString('hex') + '>';\nwriteStreamDict(ID_LOGO,\n  `/Type /XObject /Subtype /Image /Width ${LOGO_W} /Height ${LOGO_H}` +\n  ` /ColorSpace /DeviceRGB /BitsPerComponent 8` +\n  ` /Filter [/ASCIIHexDecode /FlateDecode]`,\n  logoHex\n);\n\nconst xrefPos = pos;\nWB(`xref\\n0 ${NOBJ}\\n`);\nWB('0000000000 65535 f \\n');\nfor (let i = 1; i < NOBJ; i++) {\n  WB((offsets[i]||0).toString().padStart(10,'0') + ' 00000 n \\n');\n}\nWB(`trailer\\n<</Size ${NOBJ} /Root ${ID_CAT} 0 R>>\\nstartxref\\n${xrefPos}\\n%%EOF\\n`);\n\nconst pdfString = buf.join('');\nconst base64 = Buffer.from(pdfString, 'binary').toString('base64');\n\nconst nombreArchivo = 'plan_nutricional_' + N(cliente.nombre).replace(/\\s+/g,'_').toLowerCase() + '.pdf';\n\n\nconst htmlEmail = `<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\">\n<link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap\" rel=\"stylesheet\">\n</head>\n<body style=\"margin:0;padding:0;background:#f4f4f4;font-family:'Montserrat',Arial,sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f4f4f4;padding:32px 16px;\">\n  <tr><td align=\"center\">\n    <table width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:560px;width:100%;background:#ffffff;border-radius:16px;overflow:hidden;box-shadow:0 4px 24px rgba(0,0,0,0.08);\">\n\n      <tr>\n        <td style=\"background:#0F172A;padding:28px 32px;text-align:center;\">\n          <img src=\"https://g2fit.es/wp-content/uploads/2024/06/cropped-IMG_5187-1-180x85.png\" alt=\"G2Fit\" style=\"height:60px;max-width:180px;object-fit:contain;\" />\n        </td>\n      </tr>\n      <tr>\n        <td style=\"background:#FB5FAB;padding:10px 32px;text-align:center;\">\n          <p style=\"margin:0;color:#fff;font-size:12px;font-weight:700;letter-spacing:1.5px;text-transform:uppercase;\">Tu Plan Nutricional Personalizado</p>\n        </td>\n      </tr>\n\n      <tr>\n        <td style=\"padding:36px 36px 28px;\">\n          <h2 style=\"margin:0 0 16px;color:#0F172A;font-size:22px;font-weight:700;\">¡Hola, ${N(cliente.nombre)}!</h2>\n          <p style=\"margin:0 0 16px;color:#454F5E;font-size:15px;line-height:1.7;\">\n            Tu plan nutricional personalizado está listo. Lo encontrarás adjunto a este email en formato PDF.\n          </p>\n\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#0F172A;border-radius:12px;margin:20px 0;border-left:4px solid #FB5FAB;\">\n            <tr>\n              <td style=\"padding:20px 24px;\">\n                <p style=\"margin:0 0 8px;color:#FB5FAB;font-size:12px;font-weight:700;text-transform:uppercase;letter-spacing:1.5px;\">Antes de empezar</p>\n                <p style=\"margin:0 0 10px;color:#ffffff;font-size:15px;font-weight:700;\">Tienes 3 días para prepararte 🛒</p>\n                <p style=\"margin:0;color:#94a3b8;font-size:13px;line-height:1.7;\">No empieces mañana corriendo al supermercado. Hemos adjuntado también tu <strong style=\"color:#FB5FAB;\">lista de la compra semanal</strong> para que puedas organizar todo con calma. Cuando tengas todo listo, ¡arranca con energía!</p>\n              </td>\n            </tr>\n          </table>\n\n          <p style=\"margin:0 0 16px;color:#454F5E;font-size:15px;line-height:1.7;\">\n          </p>\n\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fdf2f8;border-radius:12px;margin:20px 0;\">\n            <tr>\n              <td style=\"padding:20px 24px;\">\n                <p style=\"margin:0 0 12px;color:#0F172A;font-size:13px;font-weight:700;text-transform:uppercase;letter-spacing:1px;\">Tu plan incluye</p>\n                <table cellpadding=\"0\" cellspacing=\"0\">\n                  <tr><td style=\"padding:4px 0;color:#454F5E;font-size:14px;\">&#10003;&nbsp;&nbsp;Plan semanal completo (7 días)</td></tr>\n                  <tr><td style=\"padding:4px 0;color:#454F5E;font-size:14px;\">&#10003;&nbsp;&nbsp;Desayuno, snacks, almuerzo y cena</td></tr>\n                  <tr><td style=\"padding:4px 0;color:#454F5E;font-size:14px;\">&#10003;&nbsp;&nbsp;Adaptado a tus objetivos y restricciones</td></tr>\n                </table>\n              </td>\n            </tr>\n          </table>\n\n          <p style=\"margin:0 0 20px;color:#454F5E;font-size:14px;line-height:1.7;\">\n            Repite este plan durante el mes. Si tienes alguna duda o quieres ajustar algo, responde directamente a este email.\n          </p>\n\n          <p style=\"margin:0;color:#454F5E;font-size:14px;line-height:1.7;\">\n            Un saludo,<br>\n            <strong style=\"color:#0F172A;\">Equipo G2Fit Nutrición</strong><br>\n            <span style=\"color:#FB5FAB;font-size:13px;\">608 899 943</span>\n          </p>\n        </td>\n      </tr>\n\n      <tr>\n        <td style=\"background:#0F172A;padding:20px 32px;text-align:center;\">\n          <p style=\"margin:0 0 4px;color:#FB5FAB;font-size:12px;font-weight:700;letter-spacing:1px;\">G2FIT NUTRICIÓN</p>\n          <p style=\"margin:0;color:#64748b;font-size:11px;\">Tu bienestar, nuestra misión</p>\n        </td>\n      </tr>\n\n    </table>\n  </td></tr>\n</table>\n</body>\n</html>`;\n\n\n// === LISTA DE LA COMPRA PDF ===\nconst listaIngredientes = {};\nfor (const dia of dias) {\n  for (const comida of (dia.comidas || [])) {\n    for (const ing of (comida.ingredientes || [])) {\n      const textoIng = typeof ing === 'string' ? ing : (ing.nombre || '');\n      if (!textoIng) continue;\n      const match = textoIng.match(/^([\\d.,]+\\s*(?:g|kg|ml|l|cda|cdta|taza|unidades?|uds?|piezas?|rebanadas?)?)[\\s-]+(.+)$/i);\n      let cantidad = '';\n      let nombreIng = textoIng;\n      if (match) { cantidad = match[1].trim(); nombreIng = match[2].trim().toLowerCase(); }\n      if (!listaIngredientes[nombreIng]) listaIngredientes[nombreIng] = [];\n      if (cantidad) listaIngredientes[nombreIng].push(cantidad);\n    }\n  }\n}\n\nconst CATMAP = {\n  'Proteinas': ['pollo','pechuga','ternera','cerdo','salmon','atun','sardina','dorada','merluza','bacalao','gambas','langostino','mejillon','huevo','tofu','tempeh'],\n  'Lacteos': ['leche','yogur','queso','requesón','kefir','mantequilla','nata','feta','mozzarella'],\n  'Verduras': ['tomate','lechuga','espinaca','zanahoria','pepino','pimiento','cebolla','ajo','calabacin','berenjena','brocoli','coliflor','apio','puerro','esparragos','champiñon','remolacha'],\n  'Frutas': ['manzana','naranja','platano','pera','fresa','kiwi','melocoton','sandia','melon','mango','arandano','frambuesa'],\n  'Carbohidratos': ['arroz','pasta','pan','patata','avena','quinoa','cuscus','harina','lenteja','garbanzo','alubia'],\n  'Grasas': ['aceite','oliva','aguacate','nuez','almendra','piñon','sesamo','chia'],\n  'Otros': []\n};\nfunction getcat(n) {\n  for (const [cat, kws] of Object.entries(CATMAP)) {\n    if (cat === 'Otros') continue;\n    if (kws.some(k => n.includes(k))) return cat;\n  }\n  return 'Otros';\n}\nconst porCat = {};\nfor (const [ing, cants] of Object.entries(listaIngredientes)) {\n  const cat = getcat(ing);\n  if (!porCat[cat]) porCat[cat] = [];\n  porCat[cat].push({ ing, cants: cants.join(' + ') });\n}\n\n// Build shopping list PDF\nconst sPages = [[]];\nlet sCurY = 841.89 - 38;\nconst SML = 38, SCW = 519.28, SNAVY = [0.059,0.086,0.165], SPINK = [0.984,0.373,0.671];\nconst SWHITE = [1,1,1], SGRAY = [0.4,0.4,0.4], SLBG = [0.97,0.97,0.99];\n\nfunction sCmd(c) { sPages[sPages.length-1].push(c); }\nfunction sNewPage() { sPages.push([]); sCurY = 841.89 - 38 - 60; }\nfunction sEnsureY(h) { if (sCurY - h < 60) sNewPage(); }\nfunction sRect(x,y,w,h,rgb) { sCmd(rgb[0].toFixed(3)+' '+rgb[1].toFixed(3)+' '+rgb[2].toFixed(3)+' rg '+x.toFixed(2)+' '+(y-h).toFixed(2)+' '+w.toFixed(2)+' '+h.toFixed(2)+' re f'); }\nfunction sTxt(t,x,y,sz,bold,rgb) { sCmd('BT '+(bold?'/F2':'/F1')+' '+sz+' Tf '+rgb[0].toFixed(3)+' '+rgb[1].toFixed(3)+' '+rgb[2].toFixed(3)+' rg '+x.toFixed(2)+' '+y.toFixed(2)+' Td ('+t.replace(/[()\\\\]/g,'\\\\$&')+') Tj ET'); }\n\n// Header\nsRect(0, 841.89, 595.28, 80, SNAVY);\nsRect(0, 841.89, 5, 80, SPINK);\nsTxt('LISTA DE LA COMPRA SEMANAL', SML+10, 841.89-35, 14, true, SWHITE);\nsTxt(N(cliente.nombre ? 'Plan de '+cliente.nombre : 'Plan G2Fit Nutricion'), SML+10, 841.89-55, 9, false, [0.8,0.8,0.9]);\nsCurY = 841.89 - 80 - 14;\n\nconst catOrder = ['Proteinas','Lacteos','Verduras','Frutas','Carbohidratos','Grasas','Otros'];\nfor (const cat of catOrder) {\n  const items = porCat[cat];\n  if (!items || !items.length) continue;\n  items.sort((a,b) => a.ing.localeCompare(b.ing));\n  const totalH = 24 + items.length * 16 + 8;\n  sEnsureY(totalH + 10);\n  sRect(SML, sCurY, SCW, 24, SNAVY);\n  sRect(SML, sCurY, 4, 24, SPINK);\n  sTxt(N(cat).toUpperCase(), SML+12, sCurY-16, 8.5, true, SWHITE);\n  sCurY -= 24;\n  items.forEach((item, i) => {\n    sRect(SML, sCurY, SCW, 16, i%2===0 ? SLBG : SWHITE);\n    sRect(SML+8, sCurY-13, 10, 10, [0.85,0.85,0.9]);\n    sTxt(N(item.ing), SML+24, sCurY-11, 8, false, [0.1,0.1,0.2]);\n    if (item.cants) sTxt(N(item.cants), SML+SCW-130, sCurY-11, 7.5, false, SGRAY);\n    sCurY -= 16;\n  });\n  sCurY -= 8;\n}\n\n// Compile shopping PDF\nconst sParts = ['%PDF-1.4\\n'];\nconst sOffsets = [];\nlet sON = 0;\nfunction sObj(c) { sON++; sOffsets.push(sParts.join('').length); sParts.push(sON+' 0 obj\\n'+c+'\\nendobj\\n'); return sON; }\nsObj('<< /Type /Catalog /Pages 2 0 R >>');\nsON++; sOffsets.push(0); sParts.push('');\nconst sPNums = [];\nfor (const pg of sPages) {\n  const sc = pg.join('\\n');\n  const slen = sObj('<< /Length '+sc.length+' >>\\nstream\\n'+sc+'\\nendstream');\n  sPNums.push(sObj('<< /Type /Page /Parent 2 0 R /MediaBox [0 0 595.28 841.89] /Contents '+slen+' 0 R /Resources << /Font << /F1 << /Type /Font /Subtype /Type1 /BaseFont /Helvetica >> /F2 << /Type /Font /Subtype /Type1 /BaseFont /Helvetica-Bold >> >> >> >>'));\n}\nconst sKids = sPNums.map(n => n+' 0 R').join(' ');\nconst sPagesOff = sParts.join('').length;\nsOffsets[1] = sPagesOff;\nsParts[2] = '2 0 obj\\n<< /Type /Pages /Kids ['+sKids+'] /Count '+sPNums.length+' >>\\nendobj\\n';\nconst sXrefPos = sParts.join('').length;\nlet sXref = 'xref\\n0 '+(sON+1)+'\\n0000000000 65535 f \\n';\nfor (const o of sOffsets) sXref += String(o).padStart(10,'0')+' 00000 n \\n';\nsParts.push(sXref+'trailer\\n<< /Size '+(sON+1)+' /Root 1 0 R >>\\nstartxref\\n'+sXrefPos+'\\n%%EOF');\nconst shoppingBase64 = Buffer.from(sParts.join(''), 'binary').toString('base64');\nconst nombreLista = 'lista_compra_'+(N(cliente.nombre||'semanal').toLowerCase().replace(/\\s+/g,'_'))+'.pdf';\n\nreturn [{\n  json: {\n    cliente_email: cliente.email,\n    cliente_nombre: N(cliente.nombre),\n    dieta_id: dieta.id,\n    nombre_archivo: nombreArchivo,\n    nombre_lista: nombreLista,\n    html_email: htmlEmail\n  },\n  binary: {\n    data: {\n      data: base64,\n      mimeType: 'application/pdf',\n      fileName: nombreArchivo,\n      fileExtension: 'pdf'\n    },\n    lista_compra: {\n      data: shoppingBase64,\n      mimeType: 'application/pdf',\n      fileName: nombreLista,\n      fileExtension: 'pdf'\n    }\n  }\n}];"
      },
      "id": "d22b55d5-48e6-4654-b94b-7627def5b0d8",
      "name": "Code - Generar PDF y Email1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6976,
        8992
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.cliente_email }}",
        "subject": "={{ $json.cliente_nombre }}, aquí está tu Plan Nutricional — G2Fit Nutrición",
        "message": "={{ $json.html_email }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {},
              {
                "property": "lista_compra"
              }
            ]
          }
        }
      },
      "id": "a367f8a7-1f7a-4208-b2c9-7e8340feb408",
      "name": "Gmail - Enviar Plan Al Cliente1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        7184,
        8992
      ],
      "webhookId": "ad473c87-fa00-48d5-b495-a39383f87ad7",
      "credentials": {
        "gmailOAuth2": {
          "id": "RZGUSaOkiTerUP8u",
          "name": "G2fit dietas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dietas_generadas",
        "filterType": "string",
        "filterString": "=id=eq.{{ $('Code - Generar PDF y Email1').first().json.dieta_id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado",
              "fieldValue": "enviada"
            },
            {
              "fieldId": "fecha_envio",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "9bb2659d-d83e-40ab-b179-1e883fc0f0f7",
      "name": "Supabase - Marcar Enviada1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7344,
        8992
      ],
      "credentials": {
        "supabaseApi": {
          "id": "nEeesz8yShWcFoTO",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Recibir Solicitud1": {
      "main": [
        [
          {
            "node": "Code - Validar Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validar Token": {
      "main": [
        [
          {
            "node": "Respond - OK Inmediato1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase - Leer Dieta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Leer Dieta1": {
      "main": [
        [
          {
            "node": "IF - Dieta Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Dieta Existe": {
      "main": [
        [
          {
            "node": "IF - Ya Enviada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Ya Enviada": {
      "main": [
        [],
        [
          {
            "node": "Supabase - Leer Cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Leer Cliente1": {
      "main": [
        [
          {
            "node": "Code - Generar PDF y Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Generar PDF y Email1": {
      "main": [
        [
          {
            "node": "Gmail - Enviar Plan Al Cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Enviar Plan Al Cliente1": {
      "main": [
        [
          {
            "node": "Supabase - Marcar Enviada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "qeKgNuBOxAj1GaGb",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "600be8eb-4b26-415d-afec-703ddd0a5689",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "589208084f93e2d99b2f35ec21d5d12f9965377a406958ac814e644256241513"
  },
  "id": "eOUDd65x8xV3q6Jr",
  "tags": []
}